---
import CommentItem from "./CommentItem.astro";

interface CommentItemProp{
  author:string;
  ageString:string;
  text:string;
  authorAvatarPath:ImageMetadata;
}
interface Props{
  commentData:CommentItemProp[];
}

const { commentData } = Astro.props;

const commentCount = commentData.length
---

<div class="mt-5 mb-8 max-w-5xl m-1">
  <div>
    <hr class="mt-4 mb-2 border-black" />
    <h2 class="text-xl font-bold mb-2">{commentCount} Comments</h2>
    <div class="bg-gray-300 rounded-sm p-4">
      <h3>
        You must be
        <a class="text-blue-600 underline" href="login.html"> logged in </a>
        to leave a comment
      </h3>
    </div>
  </div>

  <div class="flex gap-3 flex-col space-around pt-3 pb-3">
    {commentData.map((item) => <CommentItem commentItemData={item} />)}
  </div>
</div>
