---
import { Image } from "astro:assets";
import playIcon from "../assets/images/play.svg";
import fullscreenIcon from "../assets/images/fullscreen.svg";
import volumeOn from "../assets/images/volume_on.svg";
const { videoSource } = Astro.props;

/*
TODOs

Make sure play ad and skip are not continuously visible
Volume slider doesn't work
Schedule an ad in the middle
Add "Ad soon, play now?" notification somewhere on the screen. It should appear 90s before the ad is scheduled.
*/
---

<div class="relative">
  <div id="video-container">
    <video id="media-video" class="w-full h-full">
      <source src={videoSource} type="video/mp4" />
    </video>
    <!-- container for custom controls -->
    <div
      id="custom-control-container"
      class="text-white absolute -bottom-0 w-full p-3 transition-opacity duration-350 ease-in-out"
    >
      <!-- Skip Button and temporary ad playing button  -->
      <button
        id="play-ad-btn"
        class="cursor-pointer mb-2 opacity-70 rounded-md p-1.5 bg-gray-600 hover:opacity-100"
        >PLAY AD</button
      >
      <button
        id="skip-ad-btn"
        class="flex flex-row absolute right-5 bottom-20 h-9 text-center items-center px-4 pr-1 box-content text-sm w-auto cursor-pointer rounded-[18px] bg-black/80 opacity-50 hover:bg-gray-800 hover:opacity-100 transition-opacity duration-500 ease-[cubic-bezier(0,0,.2,1)]"
      >
        <span class="font-medium items-center">Skip</span>
        <span class="inline-block w-10 h-10">
          <svg height="100%" viewBox="-6 -6 36 36" width="100%"
            ><path d="M5,18l10-6L5,6V18L5,18z M19,6h-2v12h2V6z" fill="#fff"
            ></path></svg
          >
        </span>
      </button>
      <!-- Bottom gradient -->
      <div
        class="absolute bottom-0 left-0 h-15 w-full bg-linear-to-t from-black"
      >
      </div>
      <!-- Ad Notification -->
      <!-- <div class="absolute z-[999] h-3 top-0">
        <div class="w-1 h-full bg-yellow-300 opacity-100"></div>
        <div class="tooltip" >
          <div><div>Ad soon,</div><div>play now?</div></div>
          <div class="tooltip-triangle"></div>
        </div>
      </div> -->
      <!-- Progress Bar -->
      <div class="bg-gray-200 relative w-full h-1 mb-2.5 rounded-md">
        <div
          id="progress-bar"
          class="absolute top-0 left-0 h-full bg-blue-400 rounded-md"
        >
        </div>
        <input
          id="scrubber"
          type="range"
          min="0"
          max="100"
          value="0"
          class="timeline-bar absolute inset-0 w-full h-full opacity-0 cursor-pointer"
        />
      </div>

      <!-- Video Controls -->
      <!-- Need to clean up fix z-axis setup -->
      <div class="flex justify-between scale-z-100">
        <div class="flex justify-around gap-2">
          <!-- Remember to add accessibility options (labels etc) -->
          <button id="play-btn" class="cursor-pointer">
            <Image id="play-pause-icon" class="w-5" src={playIcon} alt="" />
          </button>
          <div>
            <span id="current-video-time">0:00</span>
            <span> / </span>
            <span id="full-video-duration">-:--</span>
          </div>
          <button id="mute-btn" class="cursor-pointer">
            <Image id="volume-icon" class="w-6" src={volumeOn} alt="" />
          </button>
          <input
            id="volume-slider"
            type="range"
            min="0"
            max="1"
            step="any"
            class="accent-gray-200 cursor-pointer"
          />
        </div>
        <button id="fullscreen-btn" class="cursor-pointer">
          <Image id="fullscreen-icon" class="w-5" src={fullscreenIcon} alt="" />
        </button>
      </div>
      <script type="module" src="src/scripts/video_player.ts"></script>
    </div>
  </div>
</div>
