---
import { Image } from "astro:assets";
import playIcon from "../assets/images/play.svg";
import fullscreenIcon from "../assets/images/fullscreen.svg";
import volumeOn from "../assets/images/volume_on.svg";
const { videoSource } = Astro.props;

---

<div  class="relative">
  <div id="video-container" class="relative w-full aspect-video bg-black overflow-hidden">
    <video id="media-video" class="absolute inset-0 w-full h-full">
      <source src={videoSource} type="video/mp4" />
    </video>
    <!-- container for custom controls -->
    <div
      id="custom-control-container"
      class="text-white absolute bottom-0 w-full p-3 transition-opacity duration-350 ease-in-out"
    >
      <!-- Skip Button -->
      <button 
        hidden
        id="skip-ad-btn"
        class="flex flex-row absolute right-5 bottom-20 h-9 text-center items-center px-4 pr-1 box-content text-sm w-auto cursor-pointer rounded-[18px] bg-black/80 opacity-50 hover:bg-gray-800 hover:opacity-100 transition-opacity duration-500 ease-[cubic-bezier(0,0,.2,1)]"
      >
        <span class="font-medium items-center">Skip</span>
        <span class="inline-block w-10 h-10">
          <svg height="100%" viewBox="-6 -6 36 36" width="100%"
            ><path d="M5,18l10-6L5,6V18L5,18z M19,6h-2v12h2V6z" fill="#fff"
            ></path></svg
          >
        </span>
      </button>
      <!-- Bottom gradient -->
      <div
        class="absolute bottom-0 left-0 h-15 w-full bg-linear-to-t from-black"
      >
      </div>
      
      <!-- Progress Bar -->
      <div class="bg-gray-200 relative w-full h-1 mb-2.5 rounded-md">
        <div
          id="progress-bar"
          class="absolute top-0 left-0 h-full bg-blue-400 rounded-md"
        > 
        </div>
        <!-- Ad Notification with hard coded placements (50% video progress) -->
        <div id="marker" class="relative w-3 h-full bg-yellow-400" >
          <div id="tooltip" class="absolute bg-black/80 opacity-50 text-white font-bold bottom-4 left-1/2 -translate-x-1/2 px-3 py-2 rounded-lg text-sm z-9999 whitespace-nowrap text-center leading-[1.3em]" hidden>
            <div id="ad-panel" class="relative">
              <div><div>Ad Will</div><div>Play Here</div></div>
              <div id="tooltip-triangle" class="absolute w-0 h-0 border-l-10 border-l-transparent border-r-10 border-r-transparent border-t-10 border-t-black/80 left-1/2 -translate-x-1/2 -bottom-4.5"></div>
            </div>
          </div>
        </div>
        
        <input
          id="scrubber"
          type="range"
          min="0"
          max="100"
          value="0"
          step="0.1"
          class="timeline-bar absolute inset-0 w-full h-full opacity-0 cursor-pointer"
        />
      </div>

      <!-- Video Controls -->
      <!-- Need to clean up fix z-axis setup -->
      <div class="flex justify-between scale-z-100">
        <div class="flex justify-around gap-2">
          <!-- Remember to add accessibility options (labels etc) -->
          <button id="play-btn" class="cursor-pointer">
            <Image id="play-pause-icon" class="w-5" src={playIcon} alt="" />
          </button>
          <div>
            <span id="current-video-time">0:00</span>
            <span> / </span>
            <span id="full-video-duration">-:--</span>
          </div>
          <button id="mute-btn" class="cursor-pointer">
            <Image id="volume-icon" class="w-6" src={volumeOn} alt="" />
          </button>
          <input
            id="volume-slider"
            type="range"
            min="0"
            max="100"
            step="any"
            value="100"
            class="accent-gray-200 cursor-pointer"
          />
        </div>
        <button id="fullscreen-btn" class="cursor-pointer">
          <Image id="fullscreen-icon" class="w-5" src={fullscreenIcon} alt="" />
        </button>
      </div>
      <script type="module" src="src/scripts/video_player.ts"></script>
    </div>

    <!-- Play Ad Button (Seperated for auto hiding purposes) -->
    <div id="play-ad-container" class="absolute bottom-0 w-full p-3 text-white" hidden>
      <div  class="group flex flex-col absolute right-5 bottom-18 max-h-15 max-w-20 pt-2 pb-2 pl-5 pr-5 text-center items-center box-content text-sm cursor-pointer rounded-lg bg-black/80 opacity-50 hover:bg-gray-800 hover:opacity-100 transition-opacity duration-500 ease-[cubic-bezier(0,0,.2,1)]">
        <button
          id="play-ad-dismiss-btn"
          class="absolute -top-1.5 -right-1 w-6 h-6 cursor-pointer rounded-full border-gray-300 border bg-black/80 group-hover:bg-gray-800 hover:bg-gray-500 ease-[cubic-bezier(0,0,.2,1)]">
          <span class="inline-block max-h-6 max-w-6">
            <svg height="100%" viewBox="-6 -6 36 36" width="100%"
              ><path d="M7.1,6.1L12,11l4.9-4.9l1.4,1.4L13.4,12l4.9,4.9l-1.4,1.4L12,13.4l-4.9,4.9l-1.4-1.4L10.6,12L5.7,7.5L7.1,6.1z" fill="#fff"
              ></path></svg
            >
          </span>
        </button>
        <button
          id="play-ad-btn"
          class="cursor-pointer"
          >
          <span class="font-medium items-center">Ad Soon<br>Play Now?</span>
        </button>
      </div>
    </div>
  </div>
</div>
