@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  @apply text-blue-900;
}

.bg-primary {
  @apply bg-blue-900;
}

.text-secondary {
  @apply text-gray-200;
}
